<p><strong>Nombre:</strong> <%= Nombre %></p>
<p><strong>Uso:</strong> <%= Uso %></p>
<p><strong>Altura:</strong> <%= Alturas %></p>
<p><strong>Estado:</strong> <%= Estado %></p>
<p><strong>Alumnos:</strong> <%= Alumnos %></p>
<p><strong>Servicios:</strong> <%= Servicios %></p>
<p><strong>Superficie:</strong> <%= Superficie %></p>
